<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <title>NewsSite</title>
        <link rel= "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     </head>
    <body style="background:black; height: 100%;">
        
